[submodule "server/oneshare_base"]
	path = server/oneshare_base
	url = https://github.com/masami10/oneshare_odoo_base.git
[submodule "server/oneshare_enterprise"]
	path = server/oneshare_enterprise
	url = https://github.com/masami10/oneshare_enterprise.git
[submodule "server/onesphere/onesphere_spc/utils"]
	path = server/onesphere/onesphere_spc/utils
	url = https://github.com/masami10/spc.git
