.oe_mark_circle {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 99%;
  background: red;
  color: #ffffff;
  cursor: pointer;
  position: absolute !important;
  margin: 0;
}

.js_padding_normal {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.js_save {
  right: 20px;
  position: absolute;
}